$font-primary: "Roboto", sans-serif;
$font-second: "Open Sans", sans-serif;
$font-amatic: "Amatic SC", sans-serif;

$transition-base: all .3s ease-in !default;
$color-primary: #9615b5;
$color-secondary: #d8a7ff; // lavender
$color-text: #222222;
$color-body: #66606f;