* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#wpadminbar {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
}

.hle-section {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}